@media only screen and (max-width: 600px) {
    body {
        color: blue;
    }

    #map {
        visibility: hidden;
    }
}

html {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    line-height: 1.4em;
}

#accordion {
    width: 100vw;
    height: 150px;
    position: absolute;
    bottom: 0;
}

#accordion div {
    font-size: 1.2em;
    line-height: 1.2em;
    display: none;
    margin-bottom: 2em;
}

#accordion h1, #info h1 {
    margin-bottom: 0.6em;
    font-size: 1.4em;
    color: #cd1143;
}

#map {
    height: calc(100vh - 150px);
    width: 100vw;
    margin: 0 auto;
}

#upload {
    overflow-y: auto;
    background: rgba(205, 17, 67, 0.4);
    box-sizing: border-box;
    position: absolute;
    bottom: 150px;
    height: 80px;
    width: 100vw;
    padding: 1em;
    z-index: 102;
}

.marker {
    display: block;
    cursor: pointer;
    background-image: url(../img/marker.svg); /* should be 20px by 20px, important for offset!! */
    background-size: contain;
    width: 20px;
    height: 20px;
}

#file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file-label {
    font-size: 1.5em;
    position: absolute;
    width: 300px;
    height: 35px;
    /*border: 1px solid white;*/
    /*top: px;*/
    left: 50%;
    margin-left: -150px;
    padding-top: 15px;
    cursor: pointer;
}

#file-upload {
    width: 300px;
    height: 50px;
    color: white;
    text-align: center;
    margin: 0 auto;
    background-color: #d53741;

}

.kaartswitch {
    position: absolute;
    left: 20px;
    bottom: 250px;
    z-index: 9;
    width: 75px;
    height: 75px;
    border: 1px solid white;
    cursor: pointer;
}

#kaart-image {
    display: none;
}
#sat-image {
    display: block;
}

.mapbox-control-container {
    position: absolute;
    z-index: 30;
}

#huidigelocatie-img {
    width: 50px;
    height: 50px;
    z-index: 3;
    position: absolute;
    left: 20px;
    bottom: 350px;
}